#transaksi .table-kasir input{
	width: 80px;
	text-align: center;
	margin: auto;
}
#transaksi .table-responsive{
	padding-right: 10px;
}
#transaksi .form-harga td,#transaksi .form-harga th{
	border: 0;
	border-bottom: 1px solid #eaeaea;
}
#transaksi .btn-item{
	border-radius: 0;
	height: 50px;
}
@media (max-width: 768px){
	*{
		font-size: 15px;
	}
}